* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background: hsl(220, 100%, 99%);
  /* background: hsl(215, 44%, 16%); */
}

.todo-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  border: 2px solid black;
  padding: 1rem;
  align-items: center;
}

.todo-input {
  width: 70%;
  margin: .6rem auto;
  border: .02px solid #bbb;
  border-bottom: 2px solid #ccc;
  padding: 0.5rem;
}

.todo-input:focus {
  outline: none
}

.todo-item {
  width: 70%;
  display: flex;
  margin: .6rem auto;
  border: 1px solid black;
  padding: 0.5rem;
  justify-content: center;
}

.delete-icon {
  margin-left: auto;
  margin-top: 4px;
  padding: 0 5px;
}

.delete-icon:hover {
  cursor: pointer;
}